# WSS URIs
NEXT_PUBLIC_SAN_JOSE_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_EL_SEGUNDO_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_DALLAS_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_CHICAGO_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_NEW_YORK_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_AMSTERDAM_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_FRANKFURT_WSS_URI = wss://e.com:8080/ws?
NEXT_PUBLIC_HELSINKI_WSS_URI = wss://e.com:8080/ws?